{% extends "base.html" %}

{% block content %}

<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h1 class="text-center mb-5" style="color: #0d6efd;">{{ tool.name }}</h1>
            <p class="text-center mb-5" style="line-height: 1.7; max-width: 650px; margin: 0 auto;">
                {{ tool.description }}
            </p>

            {% regroup commands by command_category as category_list %}
            {% for category in category_list %}
            <h4>{{ category.grouper }}</h4>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Command</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    {% for command in category.list %}
                    <tr>
                        <td>{{ command.command }}</td>
                        <td>{{ command.description }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}