{% extends "base.html" %}

{% block content %}

<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h3 class="text-center mb-5">Tools organized by category.</h3>
            {% for category in categories %}
            <h3 class="text-center mb-3" style="color: #0d6efd;">{{ category.name }}</h3>
            <div class="list-group mb-5 text-center w-50 mx-auto">
                {% for tool in category.tools.all %}
                <a href="{% url 'tools:detail' tool.slug %}" class="list-group-item list-group-item-action">
                    {{ tool.name }}
                </a>
                {% endfor %}
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}