            {% for block in blocks %}
            {% if block.name %}
            {% if block.commands.all %}
            <h4 class="category-heading">{{ block.name }}</h4>
            {% else %}
            <h4 class="category-heading mb-3 text-center" style="color: #ffffff;">{{ block.name }}</h4>
            {% endif %}
            {% endif %}

            {% if block.description %}
            <p style="line-height: 1.7; max-width: 650px; margin: 0 auto 24px; color: #ffffff; font-size: 1.15rem; font-weight: 500;">
                {{ block.description|linebreaksbr }}
            </p>
            {% endif %}

            {% if block.commands.all %}
            <div class="category-table-wrapper">
                <table class="table command-table">
                    <thead>
                        <tr>
                            <th>Command</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for command in block.commands.all %}
                        <tr>
                            <td data-label="Command">{{ command.command }}</td>
                            <td data-label="Description">{{ command.description|linebreaksbr }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% for command in block.commands.all %}
            {% if command.image %}
            <img src="{{ command.image.url }}" class="img-fluid rounded" style="margin-bottom: 24px; cursor: pointer;"
                data-bs-toggle="modal" data-bs-target="#imageModal{{ command.id }}">

            <div class="modal fade" id="imageModal{{ command.id }}" tabindex="-1">
                <div class="modal-dialog modal-lg modal-dialog-centered">
                    <div class="modal-content bg-dark">
                        <div class="modal-header border-0">
                            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
                        </div>
                        <div class="modal-body text-center pt-0">
                            <img src="{{ command.image.url }}" class="img-fluid rounded">
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}
            {% endif %}

            {% if block.image %}
            <img src="{{ block.image.url }}" class="img-fluid rounded" style="margin-bottom: 24px; cursor: pointer;"
                data-bs-toggle="modal" data-bs-target="#categoryImageModal{{ block.id }}">

            <div class="modal fade" id="categoryImageModal{{ block.id }}" tabindex="-1">
                <div class="modal-dialog modal-lg modal-dialog-centered">
                    <div class="modal-content bg-dark">
                        <div class="modal-header border-0">
                            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
                        </div>
                        <div class="modal-body text-center pt-0">
                            <img src="{{ block.image.url }}" class="img-fluid rounded">
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}

            {% if block.related_attack %}
            <div class="text-center mb-4">
                <a href="{{ block.related_attack.get_absolute_url }}" class="btn btn-outline-danger">
                    {{ block.button_label|default:block.related_attack.name }}
                </a>
            </div>
            {% endif %}
            {% if block.related_tool %}
            <div class="text-center mb-4">
                <a href="{{ block.related_tool.get_absolute_url }}" class="btn btn-outline-primary">
                    {{ block.button_label|default:block.related_tool.name }}
                </a>
            </div>
            {% endif %}
            {% endfor %}
