{% extends "base.html" %}

{% block content %}

<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h1 class="text-center mb-5 text-danger">{{ attack.name }}</h1>
            <p class="text-center mb-5">{{ attack.description }}</p>


            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Command</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    {% for command in attack.commands.all %}
                    <tr>
                        <td>{{ command.description }}</td>
                        <td>{{ command.command }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}