{% extends "base.html" %}

{% block content %}

<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h3 class="text-center mb-5">Attack techniques organized by category.</h3>
            {% for category in categories %}
            <h3 class="text-center mb-3" style="color: #dc3545;">
                {% if category.name == "Wireless Attacks" %}
                <i class="bi bi-wifi me-2"></i>
                {% elif category.name == "Network Attacks" %}
                <i class="bi bi-router me-2"></i>
                {% endif %}
                {{ category.name }}
            </h3>
            <div class="list-group mb-5 text-center w-50 mx-auto">
                {% for attack in category.attacks.all %}
                <a href="{% url 'attacks:detail' attack.slug %}" class="list-group-item list-group-item-action">
                    {{ attack.name }}
                </a>
                {% endfor %}
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}